name: Export Drawio diagrams to SVG

on:
  push:
    paths:
      - "**/*.drawio"
  workflow_dispatch:

jobs:
  export:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Export drawio files to SVG
        uses: rlespinasse/drawio-export-action@v2
        with:
          format: svg
          transparent: false
          remove-page-suffix: true
          svg-theme: dark

      - name: Commit exported SVGs
        run: |
          git config user.name "drawio-bot"
          git config user.email "drawio-bot@users.noreply.github.com"

          git add "**/*.svg"
          git commit -m "auto: export drawio diagrams to svg" || exit 0
          git push
